.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: #fff;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
}